# CSV File Format (Comma-Separated Values)

The CSV (Comma-Separated Values) format is a simple, text-based file format used to store tabular data. Each line represents a row, and each value within a row represents a column, separated by a delimiter (commonly a comma).

`id,name,age,city`

1,Shravan,28,Visakhapatnam

2,Anita,25,Bengaluru

3,Rahul,30,Hyderabad

**First row** (optional but common): Header row (column names)

**Each subsequent row**: One record

**Delimiter**: Comma , (can also be ;, |, or \t)

| Aspect         | Description                     |
| -------------- | ------------------------------- |
| File type      | Plain text                      |
| Human-readable | Yes                             |
| Schema         | Implicit (no data types stored) |
| Size           | Lightweight                     |
| Portability    | Very high                       |
| Encoding       | Usually UTF-8                   |

| Format  | Strength                | Weakness              |
| ------- | ----------------------- | --------------------- |
| CSV     | Simple, fast, universal | No schema, no nesting |
| JSON    | Nested, typed           | Larger size           |
| Parquet | Columnar, compressed    | Not human-readable    |
| Avro    | Schema evolution        | More complex          |

In [16]:
import csv

In [17]:
rows = [
    {"id": 1, "name": "Shravan", "age": 28},
    {"id": 2, "name": "Hanvika", "age": 25}
]

In [18]:
with open('mydata.csv', mode='w+', newline="", encoding="utf-8") as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=rows[0].keys())
    writer.writeheader()
    writer.writerows(rows)

In [19]:
with open('mydata.csv', newline='', encoding="utf-8") as csvfile:
    reader = csv.DictReader(csvfile)
    for i in reader:
        print(i)

{'id': '1', 'name': 'Shravan', 'age': '28'}
{'id': '2', 'name': 'Hanvika', 'age': '25'}

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('mydata.csv')
df

   id     name  age
0   1  Shravan   28
1   2  Hanvika   25

In [22]:
import os

In [23]:
os.unlink('mydata.csv')